[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=pulsar
Comment=DISPLAY=:0 pulsar
Exec=pulsar
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false